{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block body %}
    <h1>Card</h1>
    <p>Cards text</p>
    {% include "deckNavbar.html.twig" %}
    <div class="cardholder">
        <div class="card">&#127149;</div>
{% endblock %}