{% extends "base.html.twig" %}

{% block title %}Hej!{% endblock %}

{% block body %}
<aside class="aside">
    <h1>Innehållsförteckning</h1>
    <ul>
        <li><a href="#kmom01">kmom01</a></li>
        <li><a href="#kmom02">kmom02</a></li>
        <li><a href="#kmom03">kmom03</a></li>
        <li><a href="#kmom03">kmom04</a></li>
        <li><a href="#kmom05">kmom05</a></li>
        <li><a href="#kmom06">kmom06</a></li>
    </ul>
    </aside>
    <h2 id="kmom01">Kmom01</h2>
    <p>Har inte programmerat innan jag började på BTH.
        Den lilla erfarenhet jag har av objektorienterad programmering kommer ifrån tidigare kurser.
        Det känns lite lättare att hoppa in i oophp efter att ha arbetat med oopython och objektorienterad JS.
        Det är intressant att se hur de olika programmerings språken är ganska lika, men ändå rätt olika.
        Det är mycket att lära sig, men det är väldigt roligt när det 'klickar'.</p>
    <p>Klasser är mallar som kan skapa nya objekt. Att skapa ett objekt kallas även för 'instans av klassen'.
        Ett objekt har properties (medlemsvariabler) och funktioner (metoder). 
        Properties används för att lagra ett läge/state av ett objekt och man kan interagera med dessa med hjälp av funktioner.
        Objekt kan vara mutable (som vi kan redigera) eller immutable (oredigerbara). Piloperatorn är helt ny för mig.</p>
    <p>Först hade jag problem med att updatera composer, fick ta bort och installera om composer och starta om datorn för att det skulle fungera.
        Jag blev lite förvirrad över Github och om jag behövde använda SASS, vilket jag inte använt på länge. 
        I kmom01 fungerade symfony bra, men i raport blev det diverse problem.
        Fick spendera en hel förmiddag att felsöka och installera om symfony många gånger innan det fungerade. 
        Blev jätteglad när det gick att få lite random bilder och citat i lucky.</p>
    <p>Jag gillade The-Basics delen från artikeln PHP the right way. 
        Perfekt för mig som verkar ha en hjärna som använder clear cache mellan kurser.
        Relativt kortfattat, rak på sak. "Så här gör du vill göra det här". Mycket trevlig artikel med mycket användbar information.
    </p>
    <p>TIL att jag är dålig på github.</p>
    <h2 id="kmom02">Kmom02</h2>
    <p>TEXT</p>
    <h2 id="kmom03">Kmom03</h2>
    <p>TEXT</p>
    <h2 id="kmom04">Kmom04</h2>
    <p>TEXT</p>
    <h2 id="kmom05">Kmom05</h2>
    <p>TEXT</p>
    <h2 id="kmom06">Kmom06</h2>
    <p>TEXT</p>
{% endblock %}